<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url(images/bg.jpg); background-size: cover; ">
    <h1>Welcome to my App!</h1>
    <h1>Log In</h1>
    <form action="/login" method='POST'>
        <input type="text" name="username" id="" placeholder="User Name">
        <input type="password" name="password" id="" placeholder="password">
        <input type="submit" value="Log in">
    </form>

    <p> ----------------- OR ------------------------ </p>
    <h1>Register</h1>
    <form action="/register" method='POST'>
        <input type="text" name="username" id="" placeholder="User Name">
        <input type="text" name="name" id="" placeholder="name">
        <input type="text" name="balance" id="" placeholder="balance">
        <input type="password" name="password" id="" placeholder="password">
        <input type="submit" value="Sign Up">
    </form>

</body>
</html>